.root {
    -fx-background-color: #f0f0f0;
}

.title-label {
    -fx-font-size: 18px;
    -fx-padding: 0 0 10 0;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #555;
    -fx-border-width: 1px;
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-height: 0;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(#333 0%, #aaa 100%);
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: #90EE90;
    -fx-font-weight: bold;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell {
    -fx-text-fill: #90EE90;
    -fx-alignment: center-left;
    -fx-padding: 5 10 5 10;
}

.table-row-cell {
    -fx-background-color: #616161;
    -fx-border-color: #777;
    -fx-border-width: 0 0 1 0;
}

.table-row-cell:odd {
    -fx-background-color: #424242;
}

.table-row-cell:selected {
    -fx-background-color: brown;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: #90EE90;
}

.action-button {
    -fx-padding: 10px 20px 10px 20px;
    -fx-font-size: 13px;
}
